<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> {{nameScreen}}
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <small>Agência</small>
            <input value={{this.agencia}} type="text" class="form-control" formControlName="agencia" disabled>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <small>Número da conta</small>
            <input value={{this.numero}} type="text" class="form-control" formControlName="numero" disabled>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <div class="form-required">
              <small [ngClass]="{'text-red': displayMessage.valor}">Valor</small>
            </div>
            <input type="number" class="form-control" formControlName="valor">
            <small class="form-text text-red" [innerHTML]="displayMessage.valor"></small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <a href="{{this.boleto}}">
          <div *ngIf="depositarBtn">
            <button type="submit" class="btn btn-danger float-right" (click)="onSubmit()">
              <i class="fa fa-check"></i>
              Gerar boleto
            </button>
          </div>
        </a>
        <div *ngIf="!depositarBtn">
          <button type="submit" class="btn btn-danger float-right" (click)="onSubmit()">
            <i class="fa fa-check"></i>
            Sacar
          </button>
        </div>
        <a class="btn btn-secondary float-right mr-1" [routerLink]="[ '/conta/operacoes']">
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
