/* COLOR PRIMARY */
$color-white: #FFFFFF;
$color-red: #dc3545;
$color-gray-light: #f4f6f9;
$color-primary: #00bbfa;
$color-primary-dark: #00ace6;
/* COLOR BORDER */
$color-border-gray: #ced4da;
$color-border-focus: #80bdff;
$color-gray-dark-blue: #a0adb9;
$color-gray-border-radio: #757575;
