<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link" href="/">
    <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3" src="favicon.ico" style="opacity: .8">
    <span class="brand-text font-weight-dark">Nexus App</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p> &nbsp; Início </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign fa-do"></i>
            <p>
              Conta
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/conta/operacoes']" class="nav-link">
                <i class="far fa-circle nav-icon py1"></i>
                <p>Menu</p>
              </a>
              <a [routerLink]="['/conta/minha-conta']" class="nav-link">
                <i class="far fa-circle nav-icon py1"></i>
                <p>Minha Conta</p>
              </a>
              <a [routerLink]="['']" class="nav-link" data-toggle="modal" data-target="#deletarConta">
                <i class="far fa-circle nav-icon py1"></i>
                <p>Deletar</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!-- The Modal -->
<div class="modal fade" id="deletarConta">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Olá, {{ usuarioLogado }} </h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body mx-auto form-group">
        <div class="alert alert-warning alert-dismissible fade show">
          <strong>Atenção!</strong> Você está prestes a deletar sua conta.
        </div>
        <div class="alert alert-danger alert-dismissible fade show">
          <strong>Você tem certeza? </strong> Ao deletar você perderá todos os privilégios da sua conta.
          Antes consulte seu saldo, verfique suas transações, pois ao deletar sua conta não será mais possível
          recupera-lá.
        </div>
        <div class="d-flex justify-content-center text-secondary" *ngIf="deletando">
          <div class="spinner-border" role="status">
           <span class="sr-only"></span>
          </div>
        </div>
        <div class="m-4"></div>
        <p> Por favor, digite sua senha para confirmar </p>
        <input type="password" name="password" minlength="8" maxlength="12" [(ngModel)]="password"
        class="form-control" placeholder="Digite sua senha" required />
        <div class="m-3"></div>
        <button type="submit" class="btn btn-danger btn-block" (click)="deletarConta()">
          Eu entendo as consequências, deletar esta conta
        </button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <span class="mx-auto">
          Inativar Conta
        </span>
      </div>

    </div>
  </div>
