<a class="back-to-home" [routerLink]="['/']"><i class="fa fa-arrow-left"></i> Voltar ao Início</a>
<div class="brand-image">
</div>
<div class="not-found">
    <p class="icon"><i class="fa fa-cloud"></i></p>
    <h2 class="title">Oops Pagina não encontrada...</h2>
    <p class="description">Desculpe, a página que você está procurando pode ter sido removida caso seu nome tenha mudado
        ou esteja temporariamente indisponível.</p>
    <p class="code">404</p>
    <button class="btn btn-default" (click)="backClicked()"><i class="fa fa-arrow-left"></i> Voltar</button>
</div>
