<div class="card mb-0 mt-4 rounded-0">
    <div class="card-header card-custom-top">
      <h5 class="align-middle text-dark">
        <i class="fas fa-hand-holding-usd"></i> Transferir
      </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.agencia}">Agência de origem</small>
              </label>
              <input type="text" class="form-control" formControlName="agencia" [ngClass]="{'is-invalid': displayMessage.agencia}">
              <small class="form-text text-red" [innerHTML]="displayMessage.agencia"></small>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.numero}">Conta de origem</small>
              </label>
              <input type="text" class="form-control" formControlName="numero" [ngClass]="{'is-invalid': displayMessage.numero}">
              <small class="form-text text-red" [innerHTML]="displayMessage.numero"></small>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.agenciaDestino}">Agência de destino</small>
              </label>
              <input type="text" class="form-control" formControlName="agenciaDestino" [ngClass]="{'is-invalid': displayMessage.agenciaDestino}">
              <small class="form-text text-red" [innerHTML]="displayMessage.agenciaDestino"></small>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.numeroDestino}">Conta de destino</small>
              </label>
              <input type="text" class="form-control" formControlName="numeroDestino" [ngClass]="{'is-invalid': displayMessage.numeroDestino}">
              <small class="form-text text-red" [innerHTML]="displayMessage.numeroDestino"></small>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.valor}">Valor</small>
              </label>
              <input type="number" class="form-control" formControlName="valor" [ngClass]="{'is-invalid': displayMessage.valor}">
              <small class="form-text text-red" [innerHTML]="displayMessage.valor"></small>
            </div>
          </div>
        </div>
      </form>
      <!-- {{form.valid | json}}
      <pre>{{form.get('agencia').valid | json}}</pre>
      <pre>{{form.get('numero').valid | json}}</pre>
      <pre>{{form.get('agenciaDestino').valid | json}}</pre>
      <pre>{{form.get('numeroDestino').valid | json}}</pre>
      <pre>{{form.get('valor').valid | json}}</pre> -->
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
            <i class="fa fa-check"></i>
            Salvar
          </button>
          <a class="btn btn-secondary float-right mr-1" [routerLink]="[ '/conta/operacoes']">
            <i class="fa fa-times"></i>
            Cancelar
          </a>
        </div>
      </div>
    </div>
</div>
